.banner {
  top: 0;
  position: relative;
  z-index: 5;
  background-image: url("../images/header-banner.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 1000px;
  width: 100%;

  .banner__container {
    width: 100%;
    position: absolute;
    top: 212.474px;
    z-index: 15;

    .container_wrap {
      margin: auto;
      color: #ffffff;
      text-align: center;
      width: fit-content;

      h1 {
        font-family: 'Kaushan Script', cursive;
        font-size: 72px;
        font-weight: 400;
        margin-bottom: 30px;
        line-height: 1.2;

        @media #{$info-phone} {
          font-size: 42px;
        }

        @media only screen and (max-width: 500px) {
          font-size: 32px;
        }
        
      }

      h2 {
        font-family: 'Montserrat', sans-serif;
        font-size: 150px;
        font-weight: bold;
        width: 800px;
        margin-bottom: 70px;
        line-height: 0.933;
        text-align: center;

        @media screen and (max-width: 800px) {
          width: auto;
        }

        @media #{$info-phone} {
          font-size: 85px;
          width: 400px;
        }

        @media only screen and (max-width: 500px) {
          font-size: 55px;
          width: auto
        }
      }

      .line {
        margin: 0 auto 50px auto;
      }

      .btn-banner {
        border: 3px solid #ffffff;
        width: 164px;
        height: 44px;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;
        color: #ffffff;
        background-color: transparent;
      }
    }
  }

  .banner__line {
    width: 100%;
    position: absolute;
    z-index: 20;
    bottom: 0;
    .line__wrap {
      margin: auto;
      align-items: center;
      justify-content: space-between;

      @media #{$info-phone-4} {
        justify-content: center;
      }
      
      .wrap__item {
        border-top: 3px solid #ffffff;
        width: 280px;
        height: 73px;
        opacity: 0.502;
        padding-top: 26px;
        text-transform: uppercase;
        color: #ffffff;

        @media #{$info-tablet-vertical} {
          width: 180px;
        }
        @media only screen and (max-width: 500px) {
          width: 140px;
        }
        span {
          h3 {
            font-family: 'Montserrat', sans-serif;
            display: inline-block;
          }
          p {
            font-family: 'Montserrat', sans-serif;
            display: inline-block;
          }
        }
      }

      .wrap__item--decorate {
        opacity: 1;
        position: relative;
       
      }
      .line {
        position: absolute;
        top: -3px;
        width: 70px;
        background-color: rgb(243, 129, 129);
      }
    }
  }
}