.header-scroll {
    position: ;
    a {
        color: #ffffff;
        font-weight: 30px;
        font-weight: bold;
        text-transform: uppercase;
    }

    nav {
        display: flex;
        justify-content: space-between;
    }

}